@use "styles/layouts" as layout;
.mainContainer {
  @include layout.gridMargin();
  margin-top: 200px;
  .landingContainer {
    @include layout.flexRow($alignItems: center);
    justify-content: space-between;

    .landingText {
      margin-left: 150px;
      .title {
        font-size: 60px !important;
        color: #000000;
        font-family: "Italiana", serif;
        font-weight: 400 !important;
        margin: 0;
      }
      .description {
        font-size: 22px;
        margin-top: 22px;
        margin-bottom: 40px;
      }
    }
  }

  .infoContainer {
    @include layout.flexRow($alignItems: center);
    justify-content: space-between;
    margin-left: 550px;
    margin-top: 150px;
    .iconContainer {
      @include layout.flexRow();
      gap: 15px;
    }
  }
}
