.cleverCard {
  padding: 20px 58px 20px 71px;
  border: 2px solid #577b6d;
  .cleverHeader {
    font-family: "Italiana";
    font-size: 30px;
    font-weight: 400;
  }
  .cleverDescription {
    font-weight: 400;
    font-size: 20px;
    max-width: 352px;
  }
}
